{%extends "layout.html"%}

{% block title %}
    : FAQs
{% endblock %}


{% block main %}
    <div id="faqsBody">
        <h2 id="faqsHeading">
            We drift closer towards negativity each passing day. Most of the times only unfortunate events reach us through social media and news highlight.
            All the good deeds in the world go unnoticed. Let's highlight the good in people!! Welcome to <em><strong>Kindly Sparkles</strong></em>.
            Kindness and good deeds sparkle and ripple; let your posts inspire !
        </h2>

        <ul id="faqsPostHint"><h3>Not sure what to post about?:</h3>
        <li>Incidents about times when others have been kind to us or vice versa.</li>
        <li>Gratitude Journaling - Things or people we are grateful for in our life.</li>
        <li>A great achievement.</li>
        <li>A positive interaction with a family member, a friend or even a stranger.</li>
        <li>Post anything that can potentially make a visitor feel better.</li>
        <li>Basically anything except negativity is appreciated at <em><strong>Kindly Sparkles</strong></em>.</li>
        </ul>

        <ul id="faqsPointsToNote"><h3>Points to note:</h3>
            <li>You may want to add an image to your post while posting. You can do so by entering a direct link of the image.</li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://imgur.com/">Imgur</a> or <a target="_blank" rel="noopener noreferrer" href="https://imgbb.com/">ImgBB</a> are good options where you can upload an image and get a direct link to the image for free.</li>
            <li>There is no content moderation, after a certain number of reports on a post, the post gets filtered out.</li>
            <li>A very basic spam-protection is implemented during post creation. Simply enter the resulting number into the field.</li>
            <li>Login and registration is not implemented, anyone can post under any username.</li>
            <li>Click on the username of a post to view all posts created under that username.</li>
            <li>Character Limits:
                <ul id="faqsCharLimit">
                    <li>Title - Min: 5 and Max: 90</li>
                    <li>Story - Min: 15 and Max: 1000</li>
                    <li>Username - Min: 3 and Max: 20</li>
                </ul>
            </li>
        </ul>

        <footer id="faqsFooter">
            &#x1F49C Made with hope, by <a id="githubLink" target="_blank" rel="noopener noreferrer" href="https://github.com/rawfiul">&nbsp;&nbsp;rawfiul&nbsp;&nbsp;</a> &#x1F49C
        </footer>
    </div>
{% endblock %}